* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url(/images/dark.jpg);
    color: #bcfa00;
}

/* MENU STUFF */


@media (max-width: 43.75rem) {
  
    #menu-toggle {
      display: flex;
      flex-direction: column;
      gap: .25rem;
      background-color: #00531f;
      padding: .25rem;
      position: relative;
      z-index: 999;
    }
    
    #menu {
      display: block;
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      text-align: center;
      background-color: #33dd3388;
    }
    
    .menu-flex-wrapper {
      flex-direction: column;
      gap: 0;
      height: 100%;
      justify-content: space-between;
    }
    
    #menu a {
      background-color: #00531f;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top: 3px solid rgb(204, 250, 0);
    }
    
    #menu a:last-child {
      border-bottom: 3px solid rgb(204, 250, 0);
    }
    
    #menu a:hover {
      background-color: rgba(249, 232, 0, 0.811);
    }
    
    .patty {
      background-color: #bcfa00;
      width: 2rem;
      height: .25rem;
    }
    
    #menu-toggle:hover .patty {
      background-color: #bcfa00;
    }  
  }

header, footer {
    background-color: #00531f;
    padding: 1rem;
    color: #bcfa00;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
  
footer {
    padding-top: 2rem;
    text-align: center;
}

header a {
    color: #bcfa00;
    text-decoration: none;
}

.menu-flex-wrapper {
    display: flex;
    gap: 1rem;
}

header a:hover {
    color: salmon;
}
  
#logo {
    font-size: 2rem;
}

main {
    margin: 4rem auto;
    max-width: 40rem;
    padding: 1rem;
}

h1 {
    margin-top: 2rem;
    color: #bcfa00;
    text-align: center;
}

.byline {
    font-size: 1.2rem;
}

#pagelink {
    color:#bcfa00;
}

#ball {
    margin-top: 2rem;
    width: 20px;
    height: 20px;
    animation: move-n-grow 2s forwards infinite;
}
@keyframes move-n-grow {
    0% {
        transform: translate(100%, -45%);
    }
    10% {
        transform: translate(300%, 0);
    }
    55% {
        transform: translate(600%, -45%) rotate(360deg);
    }
    60% {
      transform: translate(300%, 0);
    }
    100% {
        transform: translate(0, -45%) scale(1) rotate(-360deg);
    }
}

h2 {
    padding: 1rem 0;
    padding-top: 5rem;
}

p {
    padding: 1rem;
    line-height: 1.5;
}

ul {
    padding: 1rem;
}

.castlist {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

@media (max-width: 700px) {

    .castlist {
        grid-template-columns: 1fr;
    }

}




.back-to-top {
    text-decoration: none;
    padding: 1em;
    background-color: rgba(178, 170, 170, 0.667);
    border-radius: 0.5em;
    font-weight: bold;
    line-height: 0.5;
    font-family: "Quicksand", sans-serif;
    font-size: 1rem;
    color: white;
    position: fixed;
    right: 0.625em;
    bottom: 0.625em;
}